aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
apturl==0.5.2
arabic-reshaper==3.0.0
argcomplete==1.8.1
asgiref==3.7.2
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.4
Brlapi==0.8.3
Brotli==1.1.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
command-not-found==0.3
contourpy==1.2.1
cryptography==43.0.0
cssselect2==0.7.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.10
dbus-python==1.2.18
defer==1.0.6
diff-match-patch==20230430
distlib==0.3.8
distro==1.9.0
distro-info==1.1+ubuntu0.2
dj-database-url==2.2.0
Django==5.0.1
django-appconf==1.0.6
django-autocomplete-light==3.11.0
django-bootstrap4==24.3
django-colorfield==0.11.0
django-crispy-forms==2.1
django-dal==1.0.0
django-extensions==3.2.3
django-filter==24.2
django-import-export==4.1.1
django-jazzmin==3.0.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-select2==8.1.2
django-session-timeout==0.1.0
duplicity==0.8.21
et-xmlfile==1.1.0
exceptiongroup==1.3.0
fasteners==0.14.1
filelock==3.15.4
fonttools==4.53.1
fpdf==1.7.2
frozenlist==1.4.1
future==0.18.2
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
idna==3.7
importlib-metadata==4.6.4
iniconfig==2.1.0
jeepney==0.7.1
joblib==1.4.2
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==5.3.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.9.1
monotonic==1.6
more-itertools==8.10.0
multidict==6.0.5
mysql-connector-python==9.0.0
netifaces==0.11.0
nltk==3.8.1
numpy==2.0.0
oauthlib==3.2.0
olefile==0.46
openai==0.28.0
openpyxl==3.1.5
oscrypto==1.3.0
packaging==24.1
pandas==2.2.2
paramiko==2.9.3
pexpect==4.8.0
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.6.0
ply==3.11
protobuf==3.12.4
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydantic==2.8.2
pydantic_core==2.20.1
pydyf==0.11.0
Pygments==2.11.2
PyGObject==3.42.1
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.1.2
pypdf==4.3.1
PyPDF2==3.0.1
pyphen==0.16.0
pypng==0.20220715.0
pyRFC3339==1.1
pytest==8.4.1
python-apt==2.4.0+ubuntu3
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
pyxdg==0.27
PyYAML==6.0.2
qrcode==7.4.2
regex==2024.5.15
reportlab==4.2.2
requests==2.32.3
sdkmanager==0.5.1
SecretStorage==3.3.1
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.31
sqlparse==0.4.4
svglib==1.5.1
systemd-python==234
tablib==3.5.0
tabula-py==2.9.3
tabulate==0.9.0
textblob==0.18.0.post0
tinycss2==1.3.0
tomli==2.2.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2023.4
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uritools==4.0.3
urllib3==2.2.2
usb-creator==0.3.7
virtualenv==20.26.3
wadllib==1.3.6
webencodings==0.5.1
whitenoise==6.7.0
xdg==5
xhtml2pdf==0.2.16
xkit==0.0.0
yarl==1.9.4
zipp==1.0.0
zopfli==0.2.3
