{% extends 'app/base.html' %}

{% load static %}
{% block content %}
<br><br><br><br><br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card bg-dark text-white col-md-4 mx-auto d-flex align-items-center">
        <img src="{% static 'app/imgenes/logo.png' %}" alt="Logo" class="img-fluid mb-4">
        <h2 class="card-header text-center">EDITAR HERRAMIENTA</h2>
        <div class="card-body">
          <form method="post" action="{% url 'editar_herramienta' herramienta.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

