{% extends 'app/base.html' %}

{% load static %}
{% block content %}
<style>
.card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
}

.card {
    max-width: 800px; /* Ajusta el tamaño máximo de la tarjeta */
    margin: auto;
}

.card img {
    max-width: 100%; /* Haz que la imagen del logo sea responsive */
    height: auto;
}
</style>

<div class="container-fluid position-relative">
    <img src="{% static 'app/imgenes/fondo.jpg' %}" alt="Fondo" class="img-fluid w-100">
    <div class="card-overlay">
        <div class="card bg-primary text-white">
            <img src="{% static 'app/imgenes/Logo.png' %}" alt="Logo" class="card-img-top mt-4 mx-auto" />
            <div class="card-body text-center">
                <h5 class="card-title">BIENVENIDO A SOFTCON SISTEMA CONTROL PARA BODEGA-PAÑOL</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}
