<!-- En app/templates/app/lista_prestamos_obrero.html -->
{% extends 'app/base.html' %}

{% block content %}
<br><br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-dark text-white">
      <h2 class="card-header text-center">RETIROS REPUESTOS DE:{{ obrero.nombre }}</h2>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="text-white">NOMBRE</th>
              <th class="text-white">EMPRESA</th>
              <th class="text-white">REPUESTO</th>
              <th class="text-white">CANTIDAD</th>
              <th class="text-white">FECHA DE RETIRO</th>

            </tr>
          </thead>
          <!-- En app/templates/app/lista_prestamos_obrero.html -->
          <!-- ... (código anterior) ... -->
          <tbody>
            {% for retirorepuesto in retirorepuesto_obrero %}
            <tr>
              <td class="text-white">{{ retirorepuesto.trabajador.nombre }}</td>
              <td class="text-white">{{ retirorepuesto.empresa }}</td>
              <td class="text-white">{{ retirorepuesto.repuesto }}</td>
              <td class="text-white">{{ retirorepuesto.cantidad }}</td>
              <td class="text-white">
                {% if retirorepuesto.fecha_retiro %}
                    {{ retirorepuesto.fecha_retiro|date:"d/m/Y H:i:s" }}
                {% else %}
                    Sin fecha de retiro
                {% endif %}
            </td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- ... (código posterior) ... -->

        </table>
        <div class="pagination">
          {{ retirorepuestos_obrero.paginator.num_pages }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}