{% extends 'app/base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

<br><br><br><br>

<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-dark text-white">
      <h2 class="card-header text-center">PRESTAMO DE HERRAMIENTAS</h2>
      <div class="card-body">
        <div class="mb-3">
          <form method="GET" action="{% url 'lista_prestamo' %}">
            <div class="input-group">
              <input type="text" class="form-control" id="buscar" name="buscar" placeholder="Escribe para buscar..."
                value="{{ search_term }}">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </div>
        <table class="table table-dark" style="width:100%">

          <thead>
            <tr>
              <th>N°</th>
              <th>SOLICITANTE</th>
              <th>EMPRESA</th>
              <th>HERRAMIENTA</th>
              <th>FECHA PRESTAMO</th>
              <th>FECHA RECEPCION</th>
              <th>ACCION</th>
              <th>HISTORIAL</th>
            </tr>
          </thead>
          <tbody>
            {% for prestamo in prestamos %}
            <tr class="{% cycle 'even' 'odd' %} {% if prestamo.status == 'ENTREGADO' %}table-success custom-success{% else %}table-danger custom-danger{% endif %}">


              <td>{{ prestamo.id }}</td>
              <td>{{ prestamo.nombre_solicitante }}</td>
              <td>{{ prestamo.empresa }}</td>
              <td>{{ prestamo.herramienta }}</td>
              <td>{{ prestamo.fecha_creacion_formatted }}</td>
              <td>{{ prestamo.fecha_recepcion_formatted }}</td>
              <td>
                <form method="POST" action="{% url 'editar_prestamo' prestamo.id %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {{ prestamo.herramienta }}
                  {% if prestamo.status == 'ENTREGADO' %}
                  <script>
                    document.getElementById("id_herramienta").disabled = true;
                  </script>
                  {% endif %}
                  <button type="submit" {% if prestamo.status == 'ENTREGADO' %}disabled{% endif %}
                    class="btn btn-primary">
                    Guardar
                  </button>

                </form>
              </td>
              <td>
                {% if prestamo.nombre_solicitante %}
                <a href="{% url 'lista_prestamos_obrero' prestamo.nombre_solicitante.id %}" class="btn btn-info">Ver
                  préstamos</a>
                {% else %}
                <span class="btn btn-warning disabled">Ver préstamos</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>

        <!-- Paginación nativa de Django -->
        <div class="pagination">
          <span class="step-links">
            {% if prestamos.has_previous %}
            <a href="?page=1{% if search_term %}&buscar={{ search_term }}{% endif %}">&laquo; PRINCIPIO</a>
            <a
              href="?page={{ prestamos.previous_page_number }}{% if search_term %}&buscar={{ search_term }}{% endif %}">PREVIO</a>

            {% endif %}

            <span class="current">
              Página {{ prestamos.number }} de {{ prestamos.paginator.num_pages }}.
            </span>

            {% if prestamos.has_next %}
            <a
              href="?page={{ prestamos.next_page_number }}{% if search_term %}&buscar={{ search_term }}{% endif %}">SIGUIENTE</a>

            <a href="?page={{ prestamos.paginator.num_pages }}{% if search_term %}&buscar={{ search_term }}{% endif %}">ANTERIOR
              &raquo;</a>
            {% endif %}
          </span>
        </div>

      </div>
    </div>
  </div>
</div>

{% if success_message %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  Swal.fire({
    icon: 'success',
    title: 'Éxito',
    text: '{{ success_message }}',
  });
</script>
{% endif %}

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

{% endblock %}