{% extends 'app/base.html' %}

{% block content %}
    <br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card bg-dark text-white">
                <h2 class="card-header text-center">MATERIALES</h2>
                <div class="card-body">
                    <div class="mb-3">
                        <form method="GET" action="{% url 'lista_material' %}">
                            <label for="buscar" class="form-label">Buscar:</label>
                            <input type="text" class="form-control" id="buscar" name="buscar" placeholder="Escribe para buscar..."
                                value="{{ search_term }}">
                                <br>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </form>
                    </div>
                    <table class="table mx-auto table-dark">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in materiales %}
                                <tr>
                                    <th scope="row">{{ material.id }}</th>
                                    <td>{{ material.nombre }}</td>
                                    <td>
                                        <a href="{% url 'eliminar_material' material.id %}" class="btn btn-danger">Eliminar</a>
                                        <a href="{% url 'editar_material' material.id %}" class="btn btn-warning">Editar</a> <!-- Nuevo botón para editar -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if materiales.has_previous %}
                                <a href="?page=1{% if search_term %}&buscar={{ search_term }}{% endif %}">&laquo; PRINCIPIO</a>
                                <a href="?page={{ materiales.previous_page_number }}{% if search_term %}&buscar={{ search_term }}{% endif %}">PREVIO</a>
                            {% endif %}

                            <span class="current">
                                Página {{ materiales.number }} de {{ materiales.paginator.num_pages }}.
                            </span>

                            {% if materiales.has_next %}
                                <a href="?page={{ materiales.next_page_number }}{% if search_term %}&buscar={{ search_term }}{% endif %}">SIGUIENTE</a>
                                <a href="?page={{ materiales.paginator.num_pages }}{% if search_term %}&buscar={{ search_term }}{% endif %}">ANTERIOR &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
