{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2Xof8k6k5toMJY9wJCAjFmecFJ3l66E4fcj" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<style>
  .select2-container--bootstrap4 .select2-selection--single {
      background-color: white; /* Fondo blanco */
      border: 1px solid #ced4da; /* Borde similar a Bootstrap */
      border-radius: 0.25rem; /* Bordes redondeados */
      color: black; /* Texto negro */
      height: calc(2.25rem + 2px); /* Altura similar a Bootstrap */
  }

  .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
      color: black; /* Texto negro */
  }

  .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
      height: calc(2.25rem + 2px); /* Altura del botón de flecha */
  }

  .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
      color: #6c757d; /* Color del placeholder */
  }
</style>
<br><br><br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-dark text-white col-md-4 mx-auto d-flex align-items-center">
      <img src="{% static 'app/imgenes/Logo.png' %}" alt="Logo" class="img-fluid mb-4">
      <h2 class="card-header text-center">REGISTRAR RETIRO REPUESTOS</h2>
      <div class="card-body">
        <!-- Contenedor para los botones -->
        <div class="d-flex">
          <!-- Enlace para ir al formulario de registrar obrero -->
          <a href="{% url 'registro_obrero' %}" class="btn btn-primary mx-2">
            <span class="material-icons">engineering</span> OBRERO
          </a>
          <a href="{% url 'registro_empresa' %}" class="btn btn-primary mx-2">
            <span class="material-icons">add_business</span> EMPRESA
          </a>
          <a href="{% url 'registro_Repuesto' %}" class="btn btn-primary mx-2">
            <span class="material-icons">
              settings
              </span> REPUESTO
          </a>
        </div>
        <hr>
        <!-- Formulario de registrar pedido -->
        <form method="post" action="{% url 'registro_RetiroRepuesto' %}">
          {% csrf_token %}
          <div class="form-group">
            {{ form.non_field_errors }}
            {{ form.as_p }}
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>

<script>


  var successMessage = "{% if success_message %}{{ success_message }}{% endif %}";
  var errorMessage = "{% if error_message %}{{ error_message }}{% endif %}";

  if (successMessage) {
    showAlertSuccess(successMessage);
  }

  if (errorMessage) {
    showAlertError(errorMessage);
  }

  function showAlertSuccess(message) {
    Swal.fire({
      icon: 'success',
      title: 'Éxito',
      text: message,
    });
  }

  function showAlertError(message) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message,
    });
  }
</script>

{% endblock %}
