{% extends 'app/base.html' %}

{% load static %}
{% block content %}
<br><br><br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-dark text-white col-md-4 mx-auto d-flex align-items-center">
      <img src="{% static 'app/imgenes/logo.png' %}" alt="Logo" class="img-fluid mb-4">
      <h2 class="card-header text-center">REGISTRAR PRESTAMO</h2>
      <div class="card-body">
        <div class="d-flex">
          <!-- Enlace para ir al formulario de registrar obrero -->
          <a href="{% url 'registro_obrero' %}" class="btn btn-success mr-2">
            <i class="fas fa-plus"></i> OBRERO
          </a>
          <a href="{% url 'registro_empresa' %}" class="btn btn-success mr-2">
            <i class="fas fa-plus"></i> EMPRESA
          </a>
          <a href="{% url 'registro_Herramienta' %}" class="btn btn-success">
            <i class="fas fa-plus"></i> HERRAMIENTA
          </a>
        </div>
        <hr>
        <form method="post" action="{% url 'registrar_prestamo' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
{% endblock %}