body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
  
}

.container {
    margin-top: 20px; /* Ajusta según sea necesario */
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: 0; /* Elimina el espacio superior */
    margin-bottom: auto;
    background: #080808;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: black;
    padding: 10px;
    text-align: center;
}

.form_container {
    margin-top: 20px; /* Ajusta según sea necesario */
}
